<div id="transition_1">
  <a class="slideup" href="#transition_2">
    <img src="img/1.png" alt="">
  </a>
</div>
<div id="transition_2">
  <a class="fade" href="#transition_3">
    <img src="img/2.png" alt="">
  </a>
</div>
<div id="transition_3">
  <a class="cube" href="#transition_4">
    <img src="img/1.png" alt="">
  </a>
</div>
<div id="transition_4">
  <a class="swap" href="#transition_5">
    <img src="img/2.png" alt="">
  </a>
</div>
<div id="transition_5">
  <a class="flip" href="#home">
    <img src="img/1.png" alt="">
  </a>
</div>